---
export const prerender = true

import { PokemonTile } from '@components/PokemonTile'
import Layout from '@layouts/Layout.astro'
import { fetchPokemonByName } from '@utils/pokemon'

const pokemon = ['pikachu', 'charmander', 'squirtle', 'bulbasaur']

const data = await Promise.all(
  pokemon.map((name) => fetchPokemonByName(name))
)
---

<Layout title="Pokémon Astro - Home">
  <ul class="grid gap-4 grid-cols-2">
    {
      data.filter(Boolean).map(
        (pokemon) =>
          pokemon && (
            <li class="list-none">
              <PokemonTile pokemon={pokemon} />
            </li>
          )
      )
    }
  </ul>
</Layout>
