---
import { FooterContent } from './FooterContent'
import type { Locale } from '@/utils/i18n'

interface Props {
  locale: Locale
}

const { locale } = Astro.props
---

<footer class="mt-16 themed-border-t">
  <div class="mx-auto max-w-7xl px-6 py-6">
    <FooterContent locale={locale} />
  </div>
</footer>
