---
import type { Locale } from '@/utils/i18n'
import { FooterContent } from './FooterContent'

interface Props {
  locale: Locale
}

const { locale } = Astro.props
---

<footer class="mt-16">
  <div class="chromatic-line mx-auto max-w-7xl"></div>
  <div class="mx-auto max-w-7xl px-6 py-8">
    <FooterContent locale={locale} />
  </div>
</footer>
