<div class="flex h-24 justify-center items-center bg-slate-100">
  <nav class="flex max-w-5xl w-full justify-between items-center gap-4">
    <a href="/" title="Go home">
      <img class="h-16" src="/pokemon-logo.svg" alt="Pokemon" />
    </a>
    <a class="text-xl underline hover:font-bold" href="/pokemon">Pokédex</a>
  </nav>
</div>
