---
export const prerender = true

import { Pagination } from '@components/Pagination'
import { PokemonTile } from '@components/PokemonTile'
import Layout from '@layouts/Layout.astro'
import { fetchAllPokemon,Pokemon } from '@utils/pokemon'

export async function getStaticPaths({ paginate }: any) {
  const pokemonList = await fetchAllPokemon();
  const allPokemon = pokemonList.results;

  return paginate(allPokemon, { pageSize: 24 });
}

type PageProps = {
  page: {
    data: Pokemon[]
    total: number
    currentPage: number
  }
}

const { page } = Astro.props as PageProps;
---

<Layout title="Pokémon Astro - Pokédex">
  <ul class="grid gap-4 grid-cols-2 md:grid-cols-3">
    {
      page.data.map((pokemon) => (
        <li class="list-none">
          <PokemonTile pokemon={pokemon} />
        </li>
      ))
    }
  </ul>

  <Pagination client:only="react" count={page.total} page={page.currentPage} />
</Layout>
